 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 12px; BACKGROUND: #fff; PADDING-BOTTOM: 3px; COLOR: #000; LINE-HEIGHT: 1.8; PADDING-TOP: 3px; FONT-FAMILY: "ו", Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
BODY DIV {
	TEXT-ALIGN: left
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
LI {
	LIST-STYLE-TYPE: none
}
H1 {
	FONT-SIZE: 100%
}
H2 {
	FONT-SIZE: 100%
}
H3 {
	FONT-SIZE: 100%
}
H4 {
	FONT-SIZE: 100%
}
H5 {
	FONT-SIZE: 100%
}
H6 {
	FONT-SIZE: 100%
}
A {
	COLOR: #0000cc; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
.fB {
	FONT-WEIGHT: bold
}
.fl {
	FLOAT: left
}
.fr {
	FLOAT: right
}
.top {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 150%; PADDING-TOP: 0px; BORDER-BOTTOM: #c9d7f1 1px solid
}
.top SPAN {
	FLOAT: right
}
.top SPAN A STRONG {
	COLOR: #f60
}
.top A {
	FONT-SIZE: 13px; MARGIN-RIGHT: 10px; TEXT-DECORATION: none
}
.top A:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
.top_s {
	PADDING-RIGHT: 10px; MARGIN-TOP: 18px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 60px
}
.t_logo {
	FLOAT: left; WIDTH: 90px
}
.t_form {
	FLOAT: left; PADDING-TOP: 5px
}
.t_form INPUT.s1 {
	CLEAR: both; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 4px; WIDTH: 300px; MARGIN-RIGHT: 4px; PADDING-TOP: 4px
}
.t_form INPUT.s2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 3px; CURSOR: pointer; PADDING-TOP: 3px
}
.nav {
	CLEAR: both; PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BACKGROUND: #ebeff9; PADDING-BOTTOM: 0px; PADDING-TOP: 1px
}
.result {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.result A {
	FONT-SIZE: 12px; COLOR: #22ac38
}
.result A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
.recent {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.recent H2 {
	FONT-SIZE: 16px
}
.content {
	MARGIN: 0px auto; WIDTH: 500px
}
.logo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 30px; PADDING-TOP: 30px; TEXT-ALIGN: center
}
.foot {
	CLEAR: both; WIDTH: 100%; PADDING-TOP: 40px
}
P.about {
	MARGIN-TOP: 60px; FONT-WEIGHT: bold; FONT-SIZE: 24pt; COLOR: #0066cc; FONT-FAMILY: Arial,Helvetica,Sans Serif; TEXT-ALIGN: center
}
.f1 {
	FONT-WEIGHT: normal; FONT-SIZE: 16pt
}
.foot {
	TEXT-ALIGN: center
}
.foot P {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
.foot P {
	COLOR: #999; TEXT-DECORATION: none
}
.foot P A {
	COLOR: #999; TEXT-DECORATION: none
}
.foot P A:hover {
	COLOR: #f60
}
.list H1 A:hover {
	COLOR: #f60
}
.search {
	MARGIN: 0px auto
}
.search .tip {
	DISPLAY: none; FONT-SIZE: 12px; COLOR: #999
}
.search .s {
	LINE-HEIGHT: 120%
}
.search .s TABLE {
	WIDTH: 500px
}
.search .s1 {
	CLEAR: both; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 14px; PADDING-BOTTOM: 4px; WIDTH: 309px; PADDING-TOP: 4px
}
.search .s2 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; CURSOR: pointer; PADDING-TOP: 2px
}
.shouji_result {
	FONT-SIZE: 14px; MARGIN: 40px 0px; COLOR: #008000
}
.shouji_result TABLE {
	WIDTH: 300px
}
.shouji_result TD.t1 {
	TEXT-ALIGN: right
}
.shouji_result TD.t2 {
	TEXT-ALIGN: left
}
.whois_intro {
	MARGIN: 15px 0px
}
.whois_result {
	
}
.tool {
	CLEAR: both; BORDER-TOP: #b6b6b6 0px solid; FONT-SIZE: 12px; MARGIN: auto; WIDTH: 700px; COLOR: #666; LINE-HEIGHT: 25px; PADDING-TOP: 100px; TEXT-ALIGN: left
}
.tool H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0066cc; BORDER-BOTTOM: #eaeff1 1px solid; TEXT-ALIGN: left
}
.tool SPAN {
	DISPLAY: block; TEXT-INDENT: 2em
}
.seo {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 60%; BACKGROUND-COLOR: #ebeff9; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
.seo_head {
	BACKGROUND-COLOR: #ebeff9; TEXT-ALIGN: center
}
.tracert_head {
	BACKGROUND-COLOR: #ebeff9; TEXT-ALIGN: center
}
.seo_item {
	BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.infrm {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: -70px! important; PADDING-TOP: 0px
}
.index_wen {
	DISPLAY: none; MARGIN: 50px auto auto; WIDTH: 300px
}
